<header>
	<!-- CONTAINER -->
	<div class="container">
		<div class="header__bl-1">
			<a href="javascript:void(0)" class="logo-company header__logo-company">
				<img src="img/logo-company.svg" alt="Web Alternate" loading="lazy">
				<img src="img/logo-company--short.svg" alt="Web Alternate" loading="lazy">
			</a>
		</div>
		<div class="header__bl-2"></div>
		<div class="header__bl-3">
			<div class="toggle-wrapper">
				<button class="toggle-btn">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</button>
				<div class="toggle__content">
					<div>
						<button class="btn btn-info header__order-btn">Заказать звонок</button>
						<a href="tel:+74212253085" class="header__phone">+7 (4212) 25-30-85</a>
						<nav class="header__nav">
							<ul>
								<li>
									<a href="javascript:void(0)">
										<span>О студии</span>
									</a>
								</li>
								<li>
									<a href="javascript:void(0)">
										<span>Портфолио</span>
									</a>
								</li>
								<li>
									<a href="javascript:void(0)">
										<span>Наши услуги</span>
									</a>
								</li>
								<li>
									<a href="javascript:void(0)">
										<span>Новости</span>
									</a>
								</li>
								<li>
									<a href="javascript:void(0)">
										<span>Отзывы</span>
									</a>
								</li>
								<li>
									<a href="javascript:void(0)">
										<span>Контакты</span>
									</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div><!-- END CONTAINER -->
</header>
