<div class="hel" itemscope itemtype="http://schema.org/Organization">
	<span itemprop="name">Web Alternate</span>
	<div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
		<span itemprop="streetAddress">ул. Волочаевская, 8г</span>
		<span itemprop="addressLocality">Московская область, Москва</span>
	</div>
	<span itemprop="telephone">+74212253085</span>
	<div itemscope itemtype="https://schema.org/LocalBusiness">
		<meta itemprop="name" content="Web Alternate">
		<meta itemprop="image" content="img/logo-company.svg">
		<span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
			<meta itemprop="streetAddress" content="ул. Волочаевская, 8г">
			<meta itemprop="addressLocality" content="Московская область, Москва">
		</span>
		<meta itemprop="telephone" content="+74212253085">
		<meta itemprop="priceRange" content="RUB">
	</div>
</div>
