.hel {
	width: 0;
	height: 0;
	line-height: 0 !important;
	font-size: 0;
	visibility: hidden;
	opacity: 0;
	text-indent: -9999px;
}

:root {
	font: 1em $fb; // 16
	color: $cb;
	box-sizing: border-box;
}

body {
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

@supports (display: flex) {
	body {
		display: flex;
		min-height: 100vh;
		min-height: -webkit-fill-available;
		flex-direction: column;
	}

	header,
	footer {
		flex: 0 0 auto;
	}

	main {
		flex: 1 0 auto;
	}
}

picture::selection,
img::selection,
table th::selection,
table td::selection,
a::selection,
strong::selection,
b::selection,
em::selection,
span::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
p::selection,
li::selection,
label::selection,
input:not([type='checkbox']):not([type='radio'])::selection {
	color: $cb;
	background-color: $c3;
}

.container,
.container-md {
	// outline: 1px dotted skyblue;
	margin-left: auto;
	margin-right: auto;
}

.container {
	max-width: 1400px;
}

.container-md {
	max-width: 1110px;
}

@media (max-width: 1430px) {
	.container {
		padding-left: 40px;
		padding-right: 40px;
	}
}

@media (max-width: 1140px) {
	.container-md {
		padding-left: 40px;
		padding-right: 40px;
	}
}

@media (max-width: 576px) {
	.container,
	.container-md {
		padding-left: 17px;
		padding-right: 17px;
	}
}

h1,
h2 {
	font-size: 1.3125rem; // 21 / 16
}

h2,
h3,
h4 {
	font-weight: 400;
}

h1 {
	font-weight: 700;
}

h3 {
	font-size: 0.875rem; // 14 / 16
}

h4 {
	font-size: 1.125rem; // 18 / 16
}

@media (min-width: 577px) {
	h1 {
		font-size: 1.875rem; // 30 / 16
	}

	h2 {
		font-size: 1.375rem; // 22 / 16
	}

	h3 {
		font-size: 1.125rem; // 18 / 16
	}
}

@media (min-width: 769px) {
	h1 {
		font-size: 2.1875rem; // 35 / 16
	}

	h2 {
		font-size: 1.5625rem; // 25
	}

	h3 {
		font-size: 1.25rem; // 20 / 16
	}
}

@media (min-width: 1025px) {
	h1 {
		font-size: 2.625rem; // 42 / 16
	}

	h2 {
		font-size: 2rem; // 32
	}

	h3 {
		font-size: 1.375rem; // 22 / 16
	}
}

@media (min-width: 1401px) {
	h1 {
		font-size: 3.25rem; // 52 / 16
	}

	h2 {
		font-size: 2.625rem; // 42 / 16
	}

	h3 {
		font-size: 1.625rem; // 26 / 16
	}
}

a {
	color: $c3;
	@include trs-all;

	&:hover {
		color: $c15;
	}
}

picture,
img {
	max-width: 100%;
	height: auto;
}

picture {
	display: block;
}

b {
	font-weight: 700;
}

.list-img {
	position: relative;
	overflow: hidden;

	picture,
	img {
		position: absolute;
		top: 0;
		left: 0;
		@include imgSt;
	}
}

.disabled {
	-webkit-pointer-events: none;
	-moz-pointer-events: none;
	pointer-events: none;
}

.visible {
	opacity: 1 !important;
	visibility: visible !important;
	-webkit-transform: scaleY(1) !important;
	transform: scaleY(1) !important;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100vh;
	opacity: 0;
	visibility: hidden;
	background-color: rgba($c2, 0.95);
	pointer-events: none;
	@include trs-all;
}

.overlay-visible {
	z-index: 997;
	visibility: visible;
	opacity: 1;
	pointer-events: initial;
}

.icon {
	position: relative;
	display: inline-block;

	&:before {
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		@include trs-all;
	}
}

.btn {
	display: inline-block;
	padding: 13.5px 25.5px;
	border: 1px solid transparent;
	outline: none;
	box-shadow: none;
	background: transparent;
	@include trs-all;

	&:focus {
		outline: none;
		box-shadow: none;
	}
}

.btn-info {
	color: $c4;
	border: 1px solid $c4;

	&:hover {
		color: $c15;
		border: 1px solid $c15;
	}
}

.clearfix:before,
.clearfix:after {
	content: '';
	display: table;
}

.clearfix:after {
	clear: both;
}
