.top-section {
	background: url(../img/bg-1.png) no-repeat 0 calc(100% - 20px),
		url(../img/bg-3.jpg) no-repeat 50% 0;
	background-size: auto auto, cover;

	.icon-basket,
	h1 + strong {
		display: block;
	}

	.icon-basket {
		margin-bottom: 23px;
		padding-left: 33px;
		font-size: 1.417rem; // 22.6 / 16
		font-weight: 700;
		line-height: 28px;
		color: $c4;

		&:before {
			margin-top: -3px;
			font-size: 19px;
			color: $c4;
		}
	}

	h1 {
		margin-bottom: 30px;
		line-height: 70px;
	}

	h1 + strong {
		display: block;
		font-size: 1.25rem; // 20 / 16
		font-weight: 400;
		line-height: 27px;
	}
}

.top-section__content {
	min-height: 100vh;
	padding-top: 175px;
	padding-bottom: 22px;
	opacity: 0;

	> div {
		&:first-child {
			padding-top: 122px;
			padding-bottom: 160px;
		}

		&:last-child {
			width: percentage(620/1400);
			padding-top: 20px;
			padding-right: 20px;
			background: url(../img/bg-4.png) no-repeat 100% 0;
			background-size: calc(100% - 25px) auto;
		}
	}
}

@supports (display: flex) {
	.top-section__content {
		display: flex;
		opacity: 1;

		> div {
			&:first-child {
				flex-grow: 1;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
			}

			&:last-child {
				flex: none;
			}
		}
	}
}

@supports not (display: flex) {
	.top-section__content {
		@include clearfix;
		opacity: 1;

		> div {
			float: left;

			&:first-child {
				width: percentage(830/1400);
			}
		}

		.callback-form {
			padding-top: 100px;
		}
	}
}

@media (min-width: 1500px) {
	.top-section__content {
		width: calc(100% + 50px);

		> div {
			&:last-child {
				width: percentage(620/1450);
			}
		}
	}

	@supports not (display: flex) {
		.top-section__content {
			> div {
				&:first-child {
					width: percentage(830/1450);
				}
			}
		}
	}
}

.top-section__form {
	width: 330px;

	div {
		position: relative;
		height: 65px;

		input:not([type='checkbox']):not([type='radio']),
		button {
			height: 100%;
		}
	}

	label {
		display: block;
		margin-bottom: 14px;
		font-size: 0.875rem; // 14 / 16
		font-weight: 600;
		line-height: 17px;
	}

	input:not([type='checkbox']):not([type='radio']) {
		width: 100%;
		padding-left: 22px;
		padding-right: 77px;
		font-size: 1.125rem; // 18 / 16
		background-color: $c4;
		box-shadow: 0px 5px 10px rgba($c3, 0.2);
	}

	button {
		position: absolute;
		right: 0;
		bottom: 0;
		width: 62px;
		background-color: $c5;

		&.icon-arrow-diagonal {
			&:before {
				left: 50%;
				transform: translate(-50%, -50%);
				font-size: 17px;
				@include trs-all;
			}
		}

		&:hover {
			&:before {
				transform: translate(-50%, -50%) rotate(45deg);
			}
		}
	}
}
