//== COLORS
$cb: #ffffff !default;
$c1: #000000;
$c2: #202020;
$c3: #ef8b54;
$c4: #ff834e;
$c5: #de774b;
$c6: #1d1d1d;
$c7: #dbdbdb;
$c8: #171718;
$c9: #1e1e1f;
$c10: #1444c5;
$c11: #50386f;
$c12: #8d5dcc;
$c13: #55329e;
$c14: #de9b55;
$c15: #ee5432;
$c16: #292929;
$c17: #161616;
$c18: #a72f72;
$c19: #ff6a6a;
$c20: #595959;
$c21: #f6f6f6;
$c22: #d0d0d0;
$c23: #ec5c36;

//== TYPOGRAPHY
$fb: Montserrat, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
$f1: Roboto, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
$f2: SourceSansPro, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
$fsb: 14px !default;
